*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3b4664;
}


.calculator{
    padding: 5px;
    width: 370px;
    height: 500px;
    border-radius: 5px;
}


.display input{
    width: 350px;
    border: none;
    outline: none;
    padding: 20px;
    margin: 10px;
    background: #181f32;
    color: black;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    border-radius: 5px;
}


button{
    width: 60px;
    height: 40px;
    margin: 11px;
    background: #eae3db;
    color: #252d44;
    font-size: 22px;
    font-weight: bolder;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    
}


button:active{
    
    transform: translate(2px, 2px);
}


.RESET{
    width: 150px;
    background-color: #647299;
    color: #eae3db;
}


.egale{
    width: 150px;
    background-color: #d13f30;
    color: #eae3db;
}


.DEL{
    background-color: #647299;
    color: #eae3db;
}


.buttons{
    background-color: #252d44;
    margin-left: 10px;
    border-radius: 5px;
    
}


   
